{% extends 'gallery/base.html' %}

{% block content %}
    <h1>Gallery Image Form</h1>
    <form method="post" action="{{ action }}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.title }}
        {{ form.alt }}
        {{ form.image }}
        {{ form.errors }}

        <input type="submit" name="submit" value="Add Image">
    </form>
{% endblock %}