{% extends 'gallery/base.html' %}

{% load static %}
{% block css %}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="{% static 'css/gallery/index.css' %}">
{% endblock %} 

{% block content %}
    <h1 class="title is-1">Gallery - {{ gallery }}</h1>
    {% if user.is_authenticated and gallery.user == user %}
        <a class="button is-primary" href="{% url 'new_image' gallery.pk %}">Add Image To Gallery</a>
        <br/><br/>
    {% endif %}

    {% for image in gallery.images.all %}
        <div class="full-image" data-id="{{ image.pk }}">
            <div class="close-image-btn">Close</div>
            <img title="{{ image.title }}" alt="{{ image.alt }}" src="{{ image.image.large.url }}" width="600" height="400" />
        </div>
    {% endfor %}

    <div class="splide">
        <div class="splide__slider">
            <div class="splide__track">
                <ul class="splide__list">
                {% for image in gallery.images.all %}
                    <li class="splide__slide thumbnail card" data-id="{{ image.pk }}">
                        <div class="splide__slide__container">
                            <img title="{{ image.title }}" alt="{{ image.alt }}" src="{{ image.image.thumbnail.url }}" width="200" height="200" data-id="{{ image.pk }}"/>
                        </div>

                        {% if gallery.user == user %}
                            <div class="card-footer">
                                <a class="card-footer-item" href="{% url 'edit_image' id=gallery.pk image_id=image.pk %}">Edit</a>
                                <a class="card-footer-item" href="{% url 'delete_image' id=gallery.pk image_id=image.pk %}">Delete</a>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const splide = new Splide( '.splide', {
            type: 'slide',
            rewind: true,
            autoplay: true,
            interval: 1000,
            perPage: 1,
            perMove: 1,
            autoWidth: true,
            gap: 10,
        } ).mount();
        splide.on('click', (slide) => {
            const el = slide.slide
            const id = el.dataset.id
            const fullImage = document.querySelector(`.full-image[data-id='${id}']`)
            fullImage.style.display = 'flex'
        })


        const closeBtns = document.querySelectorAll('.close-image-btn');
        const closeBtnsArr = [...closeBtns];
        closeBtnsArr.forEach(closeBtn => {
            closeBtn.addEventListener('click', () => {
                const parent = closeBtn.parentNode;
                parent.style.display = 'none';
            })
        })
    </script>
{% endblock %}

