{% extends 'gallery/base.html' %}



{% block content %}
    {{ form.errors }}
    <h1>Add Image To Gallery</h1>
    <form method="post" action="{% url 'new_image' id=gallery.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.title.label_tag }}
        {{ form.title }}

        {{ form.alt.label_tag }}
        {{ form.alt }}

        {{ form.image.label_tag }}
        {{ form.image }}

        <input type="submit" name="submit" value="Create">
    </form>
{% endblock %}