{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

        <title>Image Gallery App</title>
        {% block css %}
        {% endblock %}
    </head>

    <body>
    {% if messages %}
    <ul class="notification">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="navbar">
    <div class="navbar-menu is-active">
        <div class="navbar-start">
            <div class="navbar-item">
                <div class="buttons">
                {% if user.is_authenticated %}
                        <p>{{ user}}</p>
                        <a class="button is-primary" href="{% url 'user_galleries' %}">My Galleries</a>
                        <a class="button is-light" href="{% url 'logout' %}">Log out</a>
                    {% else %}
                        <a class="button is-light" href="{% url 'login' %}">Log in</a>
                        <a class="button is-primary" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
       </div> 
    </div>
    <div class="section">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    </body>
</html>