{% extends 'gallery/base.html' %}

{% block content %}
    <h1>Update Gallery</h1>
    <form method="post" action="{% url 'edit_gallery' id=gallery.id %}">
        {% csrf_token %}
        {{ form.name }}

        <input type="submit" name="submit" value="Update">
    </form>
{% endblock %}