{% extends 'gallery/base.html' %}

{% block content %}
    <h1 class="title is-1">Image Gallery App</h1>
    <a class="button primary" href="{% url 'galleries_index' %}">View galleries</a>
{% endblock %}