{% extends 'gallery/base.html' %}

{% block content %}
    <h1>Create New Gallery</h1>
    <form method="post" action="{% url 'new_gallery' %}">
        {% csrf_token %}
        {{ form.name }}

        <input type="submit" name="submit" value="Create">
    </form>
{% endblock %}