{% extends 'gallery/base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/gallery/index.css' %}">
{% endblock %} 

{% block content %}
    <h1 class="title is-1">My Galleries</h1>
    <a class="button" href="{% url 'galleries_index' %}">View all galleries</a>
    {% include 'gallery/partials/gallery_list.html' %}
{% endblock %}