.gallery-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}


.gallery-item {
    display: flex;
    box-sizing: border-box;
    padding: 1rem;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 1rem;
    align-items: center;
    flex-basis: 30%;
}

.action-buttons {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: center;
}

.thumbnail {
    cursor: pointer;
}

.full-image {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.full-image img {
    height: auto;
}

.close-image-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 50%;
    color: white;
    cursor: pointer;
}