<!DOCTYPE html>
<html>
    <head>
        <title>Image Gallery App</title>
    </head>

    <body>
    {{ user}}
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Log out</a>
        {% else %}
            <a href="{% url 'login' %}">Log in</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}

        {% block content %}
        {% endblock content %}
    </body>
</html>