{% extends "account/base.html" %}

{% block content %}

{% if form.errors %}
    {{ form.non_field_errors }}
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.password.label_tag }}
    {{ form.password }}

    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}