{% extends "account/base.html" %}

{% block content %}

{% if form.errors %}
    {{ form.non_field_errors }}
{% endif %}

<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    {% for error in form.username.errors %}
        {{ error }}
    {% endfor %}

    {{ form.password1.label_tag }}
    {{ form.password1 }}
    {% for error in form.password2.errors %}
        {{ error }}
    {% endfor %}

    {{ form.password2.label_tag }}
    {{ form.password2 }}
    {% for error in form.password1.errors %}
        {{ error }}
    {% endfor %}

    <input type="submit" value="Register">
    <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}