{% if user.is_authenticated %}
    <a class="button primary mb-2" href="{% url 'new_gallery' %}">Create New Gallery</a>
{% endif %}
<div class="columns">
{% for gallery in galleries %}
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title is-centered">{{ gallery.name }}</p>
                
            </header>
            <div class="card-content">
                <p class="">Created by: {{ gallery.user }}</p>
            </div>
            <div class="card-footer">
                <a class="card-footer-item" href="{% url 'gallery_images' id=gallery.pk %}">View</a>
                {% if gallery.user == user %}
                    <a class="card-footer-item" href="{% url 'edit_gallery' id=gallery.pk %}">Edit</a>
                    <a class="card-footer-item" href="{% url 'delete_gallery' id=gallery.pk %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</div>